/local/
/*.plugin
/*.tar.gz
/python3_virtualenv_sources/src/
/python2_virtualenv_sources/src/
/node_modules/
/python3_virtualenv_sources/tempolayer*
/python2_virtualenv_sources/tempolayer*
/python2_virtualenv_sources/freezed_requirements*
/python3_virtualenv_sources/freezed_requirements*
*.pyc
__pycache__/
/tmp_build
/.configuration_cache

.autorestart_excludes
.autorestart_includes
.layerapi2_dependencies
.layerapi2_label
.plugin_format_version
.releaseignore
Makefile
canovap@stratus.cloudmf.dev
db.sqlite3
dump_phi.json
media/uploads/
postinstall
secrets.json
configurateur/initiate_toolbox/box_oper/liste_clients.csv
configurateur/initiate_toolbox/box_test/liste_clients.csv
configurateur/initiate_toolbox/v1/client_produit.csv
configurateur/initiate_toolbox/v1/client.csv
